body {
  overflow: hidden;
}
.btn {
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.btn.btn-primary {
  background-color: #6a90a4;
}
.btn.btn-primary:hover {
  background-color: #8aa8b7;
}
.btn.btn-primary:focus {
  background-color: #537688;
}
.btn.btn-primary:active {
  background-color: #537688;
}
.form-control[type=text] {
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.form-control[type=text]:focus {
  box-shadow: none;
}
div.list-with-icon {
  position: relative;
  vertical-align: middle;
}
div.list-with-icon div.icon-container {
  position: absolute;
  display: inline-block;
  height: 100%;
}
div.list-with-icon div.icon-container img.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.list-with-icon ul,
div.list-with-icon ol {
  display: block;
  border-left: 1px dashed #6a90a4;
  padding-left: 10px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 11px;
}
div.list-with-icon ul li,
div.list-with-icon ol li {
  border-bottom: 1px solid #d9e3e8;
}
div.list-with-icon ul li:last-child,
div.list-with-icon ol li:last-child {
  border-bottom: none;
}
div.list-with-donut {
  position: relative;
  vertical-align: middle;
}
div.list-with-donut div.icon-container {
  position: absolute;
  display: inline-block;
  height: 100%;
}
div.list-with-donut div.icon-container img.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.list-with-donut ul,
div.list-with-donut ol {
  display: inline-block;
  margin-left: 125px;
  margin-bottom: 0;
}
div.list-with-donut ul li,
div.list-with-donut ol li {
  border-bottom: 1px solid #d9e3e8;
}
div.list-with-donut ul li:last-child,
div.list-with-donut ol li:last-child {
  border-bottom: none;
}
div.list-of-donuts p.title {
  color: #6a90a4;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
div.table-list {
  background-color: white;
  border: 1px solid #6a90a4;
}
div.table-list h4 {
  font-size: 13px;
  font-weight: bold;
  color: #6a90a4;
  margin: 0;
  padding: .5em 0;
  border-bottom: 1px solid #6a90a4;
}
div.table-list ul {
  text-align: left;
  margin: 0;
  padding: 1em 1.5em;
}
div.table-list ul li.shoe {
  font-size: .8em;
  font-weight: bold;
}
div.table-list ul li.shoe .custom-badge {
  color: inherit;
}
.custom-badge {
  color: #6a90a4;
  margin-left: 15px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li > a {
  border-radius: 10px 10px 0 0;
  margin-right: -1px;
  border: 1px solid #6a90a4;
  color: #6a90a4;
  line-height: .6em;
  font-weight: bold;
}
.nav-tabs > li > a:hover {
  background-color: #e9eef1;
  border: 1px solid #6a90a4;
  color: inherit;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #6a90a4;
  border: 1px solid #6a90a4;
  color: white;
}
.tab-content {
  border: 1px solid #6a90a4;
}
.tab-content > .tab-pane {
  padding: 15px;
}
.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
.row.gutter-0 [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row.gutter-5 {
  margin-left: -2.5px;
  margin-right: -2.5px;
}
.row.gutter-5 [class*="col-"] {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.gutter-10 [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-20 [class*="col-"] {
  padding-left: 3px;
  padding-right: 5px;
}
#map {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map .ol-control.ol-zoom {
  bottom: .5em;
  top: initial;
}
.window {
  font-size: 13px;
  background-color: white;
  border: 1px solid #222222;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  display: inline-block;
  z-index: 1;
  max-height: 90vh;
  overflow: auto;
  color: #969696;
}
.window .row > div.sepparated:not(:first-child) {
  border-left: 1px solid #222222;
}
.window hr {
  border-top-color: #222222;
  margin-top: 5px;
  margin-bottom: 5px;
}
.window h2 {
  color: white;
  background-color: #6a90a4;
  margin: 0;
  padding: .3em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.window h2 .ic {
  position: absolute;
  left: 3px;
  top: 3px;
}
.window h2 a {
  color: white;
}
.window .content {
  padding: 15px;
}
.window .content h3 {
  color: #6a90a4;
  margin: .8em 0;
  padding: 0 0 .2em 0;
  border-bottom: 1px solid #222222;
  font-size: 13px;
  font-weight: bold;
}
.window .content h3:first-child {
  margin-top: 0;
}
.window .content img.full-width {
  width: 100%;
}
.window.main {
  top: 15px;
  left: 15px;
  line-height: 0;
}
.window.main ul {
  margin: 0;
}
.window.main ul li {
  vertical-align: middle;
}
.window.main a {
  display: inline-block;
}
.window.main a img {
  display: inline-block;
}
.window.main .vertical-line {
  display: inline-block;
  width: 1px;
  margin: 0 5px;
  background-color: #6a90a4;
  height: 40px;
}
.window.right-side {
  top: 15px;
  right: 15px;
}
.window.search {
  display: none;
}
.window.search form {
  background-color: #6a90a4;
  color: white;
  padding: 1em;
  margin: 0;
}
.window.search form label {
  display: block;
  margin: 0;
  padding: 0;
}
.window.search form input {
  padding: .2em .7em;
}
.window.search ul {
  margin: 0;
  padding: .5em 0;
}
.window.search ul li {
  margin: 0;
  padding: 0;
}
.window.search ul li a {
  color: #6a90a4;
  padding: .2em 1em;
  display: block;
}
.window.search ul li a:hover {
  background-color: #6a90a4;
  color: white;
}
.window.search .no-results {
  padding: 1em 2em;
  text-align: center;
}
.window.layers {
  display: none;
}
.window.layers ul.layers {
  background: #e9eef1;
  border: 1px solid #6a90a4;
  padding: 15px;
  color: #6a90a4;
  font-weight: bold;
  width: 400px;
  max-height: 300px;
  overflow-x: scroll;
}
.window.layers ul.layers ul {
  padding-left: 20px;
}
.window.layers ul.layers ul ul {
  padding-left: 40px;
  font-weight: normal;
}
.window.layers ul.layers a {
  color: inherit;
  text-decoration: none;
}
.window.layers ul.layers li.closed > a > .fa-caret-down,
.window.layers ul.layers li.closed > ul {
  display: none;
}
.window.layers ul.layers li.open > a > .fa-caret-right {
  display: none;
}
.window.expedient {
  width: 1100px;
  width: auto;
  display: none;
}
.window.expedient > .content > .row {
  display: flex;
}
.window.expedient > .content > .row > div {
  align-items: stretch;
}
.window.expedient div.alarms-number .text {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
}
.window.expedient div.alarms-number .ico {
  display: inline-block;
  height: 40px;
  position: relative;
}
.window.expedient div.alarms-number .ico .number {
  background-color: yellow;
  color: #6a90a4;
  border-radius: 99px;
  border: 1px solid #6a90a4;
  position: absolute;
  top: 5px;
  left: 5px;
  min-width: 20px;
  height: 20px;
  font-weight: bold;
  text-align: center;
}
.window.expedient div.alarms-number .ico i {
  font-size: 40px;
  color: #6a90a4;
}
.window.expedient ul.list-expedient-sumatory {
  padding-top: 1.5em;
  padding-top: 0;
}
.window.expedient ul.list-expedient-sumatory li {
  padding: .5em 0 0;
}
.window.expedient ul.list-expedient-location {
  padding-top: 1.5em;
  padding-top: 0;
  color: #6a90a4;
}
.window.expedient ul.list-expedient-location li {
  padding: .5em 0 0;
}
.window.expedient ul.list-expedient-location li strong {
  width: 80px;
  display: inline-block;
}
.window.expedient div.donut-with-title {
  text-align: right;
}
.window.expedient div.donut-with-title span {
  font-weight: bold;
  color: #6a90a4;
  float: left;
  margin-top: .8em;
  text-align: left;
}
.window.expedient div.donut-with-title .donut {
  padding: .55em 0;
}
.window.expedient div.donut-with-title .ng-isolate-scope {
  margin-top: -12px;
}
.window.expedient div.key-value-list-with-title span.title {
  font-weight: normal;
  color: #6a90a4;
  float: left;
  margin-top: .8em;
  text-align: left;
}
.window.expedient div.key-value-list-with-title ul {
  margin: .3em 0 0;
  width: 105px;
  float: right;
}
.window.expedient div.key-value-list-with-title ul .custom-badge {
  margin-left: 5px;
}
.window.expedient .sidebar {
  position: relative;
}
.window.expedient .sidebar .pdf-export {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.window.reports {
  display: none;
}
.window.reports .ic {
  position: absolute;
  left: 6px;
  top: 6px;
}
.window.reports ul {
  color: #6a90a4;
  font-weight: bold;
}
.window.reports ul li {
  padding: .1em 0;
}
.window.reports ul li a {
  float: right;
  margin-left: .5em;
}
.window.reports ul .number {
  border: 1px solid #6a90a4;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  margin-right: .5em;
}
.window.infoviz {
  display: none;
}
.window.infoviz .ic {
  position: absolute;
  left: 6px;
  top: 6px;
}
.window.report1 {
  display: none;
}
.window.report1 .ic {
  position: absolute;
  left: 6px;
  top: 6px;
}
.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
/*for angular-js, hides content before is laoded*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/*toolTip */
#info {
  position: absolute;
  height: auto;
  width: auto;
  background-color: black;
  border: 1px solid white;
  color: white;
  text-align: center;
  z-index: 100;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#townInfoPanel .content {
  padding: 0 10px;
}
#townInfoPanel .content .row {
  margin-left: 0;
  margin-right: 0;
}
.expedient .content {
  padding: 0 10px;
}
.expedient .content .row {
  margin-left: 0;
  margin-right: 0;
}
.expedient .content .row .col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}
.expedient .content .row .table-list {
  line-height: 1;
}
.expedient .content .row ul {
  margin-bottom: 5px;
}
.list-of-donuts tspan {
  font-size: 14px;
  font-weight: bold;
}
.donut-with-title tspan {
  font-size: 14px;
  font-weight: bold;
}
.window.infoviz {
  width: 960px;
}
.window.infoviz .content {
  padding-top: 5px;
}
.window.infoviz .content .row .infoviz-title {
  text-transform: uppercase;
  color: white;
  background-color: #6a90a4;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 10px 0 5px;
}
.window.infoviz .content .row input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
.window.infoviz .content .row .datepicker {
  padding: 0;
}
.window.infoviz .content .row .datepicker td,
.window.infoviz .content .row .datepicker th {
  height: 15px;
}
.window.infoviz .content .row #infoviz-datepicker2 {
  margin-bottom: 10px;
}
.window.infoviz .content .row #infoviz-tag {
  margin: 10px 0 10px;
}
.window.infoviz .content .row #infoviz-tag .export {
  float: right;
  margin: 0 2px;
}
.window.infoviz .content .row #infoviz-tag .infoviz-comparativa {
  float: right;
  margin: 0 2px;
}
.window.infoviz .content .row #infoviz-tag .infoviz-comparativa .active {
  background-color: #8aa8b7;
}
.window.infoviz .content .row .infoviz-tagval {
  color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 2px 10px;
}
.window.infoviz .content .row #infoviz-linechart .dygraph-legend {
  background-color: rgba(255, 255, 255, 0.75) !important;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #888;
  pointer-events: none;
  width: 250px;
}
.window.infoviz .content .row .sum_aportat {
  background-color: #edae1a;
}
.window.infoviz .content .row .sum_suministrat {
  background-color: #51caef;
}
.window.infoviz .content .row .sum_rebuig {
  background-color: #6bc24c;
}
.window.infoviz .content .row .closeButton {
  cursor: pointer;
}
.window.infoviz .datepicker {
  font-size: 10px;
  line-height: .8;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  padding: 3px;
}
